@model Charts.Models.SalesRecords

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesRecords</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electronics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electronics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookAndMedia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookAndMedia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAndKitchen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAndKitchen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
